input {
  text-align: right;
}
 .container-fluid {
   margin: 0 auto;
 }

 #calculator {
   margin: 0 auto;
   padding: 10px;
   display: grid;
   grid-gap:10px;
   grid-template-columns: 20px 20px 20px 20px;
 }

 #number0 {
   grid-area: 4 / 1 / 5 / 2
 }

 #number1 {
   grid-area: 3 / 1 / 4 / 2;
 }

 #number2{
   grid-area: 3 / 2 / 4 / 3;
 }

 #number3{
   grid-area: 3 / 3 / 4 / 4;
 }

 #number4{
   grid-area: 2 / 1 / 3 / 2;
 }

 #number5{
   grid-area: 2 / 2 / 3 / 3;
 }

 #number6{
   grid-area: 2 / 3 / 3 / 4
 }

 #number7{
   grid-area: 1 / 1/ 2 / 2;
 }

 #number8{
   grid-area: 1/ 2/ 2 / 3;
 }

 #number9{
   grid-area: 1 / 3 / 2 / 4;
 }

 #operation0{
   grid-area: 1 / 4 / 2 / 5;
 }

 #operation1{
   grid-area: 2 / 4 / 3 / 5;
 }

 #operation2{
   grid-area: 3 / 4 / 4 / 5;
 }

 #operation3{
   grid-area: 4 / 4 / 5 / 5;
 }

 #operation4{
   grid-area: 4 / 3 / 5 / 4;
 }

 #operation5{
   grid-area: 4 / 2 / 5 / 3;
 }

 #operation6{
   grid-area:
 }

 #operation7{
   grid-area:
 }

 #operation8{
   grid-area:
 }

 #operation9{
   grid-area:
 }

 .centered {
   margin:0 auto;
   float: none;
 }

 button {
   margin: 10px;
   height: 25px;
   width: 25px;
   text-align:justify;
 }

#header {
  text-align: center;
}

#buttons, #operators{
}
