input {
  text-align: right;
}
 .container-fluid {
   margin: 0 auto;
 }

 #calculator {
   margin: 0 auto;
   padding: 10px;
 }

 .centered {
   margin:0 auto;
   float: none;
 }

 button {
   margin: 10px;
 }

#header {
  text-align: center;
}

#buttons {
  float: inherit;
}
